@import url(https://fonts.googleapis.com/css?family=Audiowide);
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(80, 80, 80);
  background: rgb(184, 184, 184);
  text-rendering: optimizeLegibility;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  flex-flow: row wrap;
}

ul li {
  list-style: none;
  /*text-align: right;*/
  /*display: inline-block;*/
  padding: 0 10px;
}

a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: black;
}

a.active {
  color: #333;
}

h1,
h2,
h3,
h4 {
  color: #000000;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  display: block;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  max-width: 100%;
  height: auto;
}

.front img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

u {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  filter: drop-shadow(1px 1px 1px rgb(155, 155, 155));
}

nav {
  display: block;
}

nav li {
  font-size: 1.125rem;
  margin: 0;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #4d4d4d;
  text-align: center;
}

.flex-nav ul.active {
  display: flex;
  color: #000000;
}

.flex-nav ul li {
  margin: 0.5rem 0;
  color: #fff;
}

.nav-link {
  cursor: pointer;
}

.toggle-nav {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  flex-flow: row wrap;
}

.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 0.5rem;
}

.group {
  min-height: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  position: absolute;
  line-height: 10px;
  z-index: 999;
}

.description {
  border-top: 0.0625rem solid #e3dddd;
  margin: 2rem 0;
  padding: 1rem 0 0 0;
  float: right;
  text-align: center;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}

.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #4d4d4d;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  display: inline-block;
  padding: 0 0.5rem;
  color: #d5d5d5;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  justify-content: flex-end;
}

.toggle-nav {
  display: none;
}

.flex-nav {
  min-height: 60px;
  width: 100%;
  border: none;
  position: relative;
  background-color: #4d4d4d;
  line-height: 30px;
  box-shadow: 0 0 5px 0;
  z-index: 999;
}

.flex-nav ul {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
}

.flex-nav ul li {
  text-decoration: none;
  color: #ffffff;
  font-family: Lora, 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  display: block;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.card {
  filter: drop-shadow(2px 4px 8px #000);
  margin: 8px;
  color: #000;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.containers {
  text-align: center;
}

.containers::after,
.row::after {
  content: '';
  clear: both;
  display: table;
}

.title {
  color: rgb(0, 0, 0);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #4d4d4d;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.dropdown-container {
  width: 0em;
  position: relative;
  display: inline-block;
}

#dropdown {
  display: none;
  background-color: #4d4d4d;
  position: relative;
}
